html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: helvetica;
}

body {
  margin: 0;
  font-family: helvetica;
}

#banner {
   position: relative;
   width: 100%;
}

#logo {
   position: absolute;
   top: 20px;
   left: 40px;
   color: #FF3F61;
   font-family: helvetica;
   text-decoration: none;
   font-size: 25px;
}

#contact {
   position: absolute;
   top: 50px;
   left: 1130px;
   width: 100%;
   color: #FF3F61;
   text-decoration: none;
}

#contacto:hover {
  color: blue;
}

#search-bar-top {
  display: inline-flex;
  height: 25px;
  background-color:rgba(0,0,0,0.6);
  width: 400px;
  position:absolute;
  top: 225px;
  left: 196px;
}

.test {
  font-size: 12px;
  margin: 5px;
  color: white;
}

#search-bar {
  position: absolute;
  top: 250px;
  left: 200px;
}

.search {
  border: 0;
  border-right: 1px solid grey;
  padding-left: 10px;
  font-size: 15px;
  margin-left: -4px;
  background-color: white;
  height: 50px;
}

.search:focus {
  height: 55px;
  text-decoration: none;
  border: 0;
  border-right: 1px solid grey;
  border-bottom: 5px solid #FF3F61;
  outline: none;
  color: black;
}

#destiny, #partida {
  width: 200px;
}

#ida {
  width: 140px;
  margin-left: -5px;
}

#return {
 width: 140px;
}

#amount {
  width: 60px;
  margin-left: -5px;
}

#flight-type {
  width: 60px;
}

#search-button {
  margin-left: -6px;
  border: none;
  height: 50px;
  width: 100px;
  background-color: #FF3F61;
  font-size: 15px;
  color: white;
}

#search-button:focus {
  outline: none;
}

#sales-container {
  position: relative;
  width: 100%;
  height: 65%;
}

#sale-title {
  margin-top: 40px;
  font-weight: normal;
  text-align: center;
}

#madrid {
  position: absolute;
  top: 30px;
  left: 30px;
}

#cancun {
  position: absolute;
  top: 30px;
  left: 250px;
}

#tailandia {
  position: absolute;
  top: 240px;
  left: 30px;
}

#newyork {
  position: absolute;
  top: 30px;
  left: 470px;
}

#sanfrancisco {
  position: absolute;
  top: 30px;
  left: 680px;
}

#sydney {
  position: absolute;
  top: 30px;
  left: 1055px;
}

#rio {
  position: absolute;
  top: 185px;
  left: 680px;
}

#londres {
  position: absolute;
  top: 185px;
  left: 1115px;
}
