.App {
  text-align: center;
  overflow: hidden;
}

.rc-slider-track.rc-slider-track-1 {
  background: #FF3F61;
}

*::placeholder {
  color: rgba(170, 170, 170, 0.5) !important;
}

/* Make home background responsive */

@media (max-width: 1400px) {
  .main-background-image {
    /*width: 160% !important;*/
  }
}

/* airbnb-dates overrides */

.DateInput__display-text--focused {
  /*background: rgba(255, 63, 97, 0.2) !important;*/
}

.DateInput {
  text-align: left !important;
  font-weight: normal !important;
  font-size: 15px !important;
  color: #AAAAAA !important;
}

.SingleDatePicker {
  border-right: 1px solid grey;
}

.SingleDatePickerInput {
  border: 0 !important;
  height: 50px;
}

.DateRangePickerInput {
  width: 270px;
}

.DateRangePickerInput > .DateInput {
  width: 100px;
}

/* react-select overrides */
.Select-input {
  width: 163px;
  height: 50px !important;
  padding: 0 !important;
}

.Select-value {
  line-height: 50px !important;
}

.Select-value-label {
  display: block;
  overflow: hidden;
  width: 160px;
  text-overflow: ellipsis;
}
.Select-multi-value-wrapper {
  text-align: left;
}

.Select-placeholder {
  line-height: 50px !important;
}

.Select-input > input {
  width: 100% !important;
  height: 50px;
  padding: 0 !important;
}

.sell-select {
  padding: 10px 20px;
  border-radius: 3px;
  height: 40px;
  border-color: gray;
}